*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  
}
.handleeFontFamily{
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.bg-color{ 
  background-color: #00004d; 
}
.title{
  text-transform: capitalize;
  font-size: 40px;

  color:#FFFFFF;
}
.weekName{
  text-transform: capitalize;
  font-size: 30px;  
  color:#FFFFFF;
}
.button1{
  height: 50px;
  width: 100px;
  border-radius: 10px;
  background-color: #800000;
  font-size: 20px; 
  color: white;
  border: 5px solid white;
}
.inputFlex{
  display: inline-flex;
  flex-direction: row;
  margin: 40px 0px;
  justify-content: space-around;
  background-color: white;
  border-radius: 30px;
  width: 280px;
}

.inputFlex i{
  font-size: 35px;
}
input{ 
  height: 50px; 
  margin-right:20px ;
  border: 20px rgba(0, 0, 0, .4); 
  border-radius: 30px;
 
}
input:focus{  
  outline: none;
}
label{
  width: 200px;
}
#showItems{
  width: 200px;
  text-align: center;
}
.ul-style{  
  list-style-type: none;    
  display: inline-block;
  padding-left: 0rem;
  /* width: 480px; */
}
ul li
{
  border: 2px solid back ;
  background: #F5F5F5;
  padding: 10px;
    border-radius: 20px;
    margin: 10px 5px;

}
ul li :hover{
  background-color: #E5E4E2;
}
.listInput:focus{
 outline: none;
}
.editTextInput {  
  padding: 10px;
  outline: none;
  max-width: 500px;
  border-radius: 30px;
 
}
.inputFlex i{
  font-size: 35px;
  padding: 0px 5px;
  margin: 0px 5px;
  background-color: #FF643B;
  border-radius: 50%;
}
.ul-style i{
  font-size: 25px;
  padding: 0px 5px;
  margin: 0px 5px;
color: #FF643B;
}
.list-group-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.list-group-item:last-child {
  border-top-left-radius: 20px;
 border-top-right-radius: 20px;
 border-bottom-right-radius: 20px;
 border-bottom-left-radius: 20px;
}
