*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.bg-color{ 
  background-color: #BEE4F4; 
}
h1{
  text-transform: capitalize;
  font-size: 50px;
  text-decoration: underline;
  color: #800000;
}
button{
  height: 50px;
  width: 100px;
  border-radius: 10px;
  background-color: #800000;
  font-size: 20px; 
  color: white;
  border: 5px solid white;
}
.inputFlex{
  display: flex;
  flex-direction: row;
  margin: 30px;
  justify-content: center;
}
input{
  width: 500px;
  height: 50px;
  margin-right:20px ;
}
label{
  width: 200px;
}
#showItems{
  width: 200px;
  text-align: center;
}
ul{  
  list-style-type: none;    
}
ul li
{
  border: 2px solid back ;
}
.listInput:focus{
  outline-color: transparent;
    border: 2px solid skyblue;  
}
.editTextInput {  
  padding: 10px;
  border: 1px solid #dfdfdf;
  outline: none;
  background-color: aqua;
}

